<!-- recommend.html -->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>추천</title>
	<style>
		.container {
			margin-top: 80px;
		}

		.thumbnail {
			width: 100px;
			/* 적절한 크기로 조절하세요. */
			height: 100px;
		}
	</style>

	<head th:replace="~{basic/header :: head}"></head>
</head>

<body>
	<div th:replace="~{basic/header :: body}"></div>

	<div class="container">
		<div>
			<h2>추천 목록</h2>
			<div th:each="recommend : ${recommends}">
				<h3 th:text="${recommend.title}"></h3>
				<img class="thumbnail" th:src="${recommend.thumbnailPath}" alt="Thumbnail">
			</div>
		</div>
		<div>
			<h2>서귀포시 추천 목록</h2>
			<div th:each="seogwipoRecommend : ${seogwipoRecommends}">
				<h3 th:text="${seogwipoRecommend.title}"></h3>
				<img class="thumbnail" th:src="${seogwipoRecommend.thumbnailPath}" alt="Thumbnail">
			</div>
		</div>
		<div>
			<h2>제주시 추천 목록</h2>
			<div th:each="jejuRecommend : ${jejuRecommends}">
				<h3 th:text="${jejuRecommend.title}"></h3>
				<img class="thumbnail" th:src="${jejuRecommend.thumbnailPath}" alt="Thumbnail">
			</div>
		</div>
	</div>

	<div th:replace="~{basic/footer :: body}"></div>
</body>

</html>